<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="create-room">
    <% if user_signed_in?%>
      <%if current_user.admin == 'kk22' %>
        <%= link_to "ルームを作成する", new_room_path %><%#     <a href="#">ルームを作成する</a> %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room) %><%# <a href="#"><%= room.name %><%#</a> %>
        <%# <%= link_to "グラン", room_messages_path(room) %> 
      </div>
    </div>
  <% end %>
</div>

<%# <div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">グラン</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">カタリナ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">シャルロッテ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ランスロット</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">パーシヴァル</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">フェリ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ローアイン</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ファスティバ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">メーテラ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ゼタ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">バザラガ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ベルゼバブ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ナルメア</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ソリッズ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ジータ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ゾーイ</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ベリアル</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">カリオストロ</a>
    </div>
  </div>
</div> %>